**.cbp
**.exe
**.gch
**.html
**.o
**.out
**.pdf
**.zip
.cache
**.cmake
.direnv
.idea
.obsidian
CMakeCache.txt
CMakeFiles
Testing
bin
build
cmake-build-debug
compile_commands.json
doxygen
nhf/Makefile
out
result
